<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LowKey - Password Manager</title>
</head>

<body>
    <main id="page__dashboard">
        <div id="wrapper">
            <section id="header">

            </section>
            <section class="container" id="bottom">
                <section id="misc">
                    <article class="container" id="recent-files">

                    </article>
                    <article class="container" id="key-status">

                    </article>
                </section>
                <section id="articles">
                    <p class="text color" id="title">Your Keys</p>
                    <div class="container" id="search"></div>
                    <div class="container" id="tags">
                        <button type="button" class="text button" id="all">All</button>
                        <button type="button" class="text button" id="favs">Favs</button>
                    </div>
                    <div class="container" id="actions">
                        <button type="button" class="text button" id="create">Create</button>
                        <button type="button" class="text button" id="keygen">KeyGen</button>
                    </div>
                    <div class="container" id="types">
                        <button type="button" class="text button circle" id="folders"></button>
                        <button type="button" class="text button circle" id="files"></button>
                    </div>
                    <div class="container" id="items">
                        <div id="item-example"></div>
                    </div>
                </section>
                <!-- CHANGE TO CARD LATER -->
                <!-- <section id="card">
                    
                </section> -->
            </section>
        </div>
    </main>
</body>

</html>