.item {
    background-color: #fff;
    border-radius: var(--b-radius-1);
    border: 0;
    cursor: pointer;
    padding: 10px 25px;
    height: 92px;
    min-height: 92px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .button {
    cursor: pointer;
}

.item .compartment-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.item .compartment-left #item-icon {
    border-left: 3px solid var(--accent-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.item .compartment-left #item-icon svg {
    width: 35px;
    height: 35px;
}

.item .compartment-left #item-info {
    text-align: left;

    & p {
        font-size: var(--lr-fn);
        font-weight: bold;
    }

    & span {
        color: rgb(50, 50, 50);
        margin-top: -10px;
        display: block;
    }
}

.item .compartment-mid {
    color: rgba(95, 47, 117, 0.5);
}

.item #actions {
    display: flex;
    gap: 5px;
    align-items: center;
}

.item #actions>span.button {
    position: relative;
}

.item #actions #tooltip {
    background-color: var(--accent-color);
    border-radius: 50px;
    cursor: default;
    color: var(--primary-color);
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transition-behavior: allow-discrete;
    transition-property: display opacity;
    transition-duration: var(--trans-q);
}

.item #actions #tooltip>#tip {
    font-weight: bold;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item #actions #tip::after {
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--accent-color);
    border-left: 10px solid transparent;
    transform: translateX(-50%);
    position: absolute;
    bottom: 100%;
    left: 50%;
}

.item #actions>span:hover>#tooltip {
    display: block;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.item #actions>#copy>#tooltip:hover {
    cursor: default;
    display: none;
}

.item #actions #more>#tooltip {
    border-radius: var(--b-radius-1);
    left: -20%
}

.item #actions #more>#tooltip>#tip {
    text-align: left;
    padding: 0;
}

.item #actions #more #tip::after {
    left: 70%;
}

.item #actions #more>#tooltip>#tip>.button {
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    gap: 2px;
    align-items: center;
}

@media screen and (min-width: 430px) {
    .item #actions #more>#tooltip>#tip>.button#copy {
        display: none;
    }
}

@media screen and (max-width: 429px) {
    .item #actions>span#copy {
        display: none;
    }
}

@media screen and (max-width: 569px) {
    .item .compartment-mid {
        display: none;
    }
}