.creation {
    background-color: #FFF;
    border-radius: var(--b-radius-1);
    padding: 20px;
    width: 316px;
    height: 569px;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.creation #top {
    flex-grow: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creation #box {
    background-color: var(--primary-color);
    border-radius: var(--b-radius-2);
    width: 100%;
    height: 100px;
    display: flex;
}

.creation #create-form,
.creation#generator #generate-form,
.creation#item-info #item-form {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 3px
}

.creation #advise {
    color: rgba(95, 47, 117, 0.5);
    font-weight: bold;
    text-align: center;
}

.creation #top #left {
    display: flex;
    gap: 5px;
    align-items: center;
}

.creation #top #title {
    cursor: default;
    font-size: var(--lr-fn);
    font-weight: bold;
}

.creation #top #left svg {
    width: 20px;
    height: 20px;
}

.creation #top #favorite {
    padding: 0;
}

.creation #top #close {
    width: 26px;
    height: 26px;
    padding: 0;
}

.creation #top #close svg {
    fill: var(--primary-color);
    width: 20px;
    height: 20px;
}

.creation #box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: clip;
}

.creation #box .circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
}

.creation #box .circle#circle-1 {
    background-color: rgba(192, 147, 226, 0.2);
    top: 100%;
    left: 0;
}

.creation #box .circle#circle-2 {
    background-color: rgba(95, 47, 117, 0.2);
    top: 0;
    left: 100%;
}

.creation #box #password-test {
    background-color: transparent;
    border: 0;
    font-size: var(--lr-fn);
    font-weight: bold;
    text-align: center;
    outline: 0;
}

.creation #box #password-test::selection {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.creation #box #password-test::placeholder {
    color: inherit;
}

.creation .inputs {
    display: flex;
    flex-direction: column;
}

.creation #input-password .wrapper {
    display: flex;
    gap: 3px;
    justify-content: space-between;
}

.creation #input-password .container {
    border: 2px solid var(--accent-color);
    border-radius: var(--b-radius-2);
    font-weight: bold;
    padding: 1px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.creation #input-password .container button {
    flex-shrink: 0;
    padding: 0;
}

.creation #input-password .container button svg {
    width: 16px;
    height: 16px;
    fill: var(--accent-color);
}

.creation #input-password #keygen {
    font-weight: bold;
    padding: 5px 7px;
    width: max-content;
    height: 32px;
    display: flex;
    align-items: center;
}

.creation #input-password #keygen svg {
    fill: var(--primary-color);
    width: 16px;
    height: 16px;
}

.creation .inputs label,
.creation .inputs p,
.creation .inputs div {
    font-weight: bold;
}

.creation .inputs label {
    width: max-content;
}

.creation .inputs input:not([type=password]) {
    flex-grow: 1;
    border: 2px solid var(--accent-color);
    border-radius: var(--b-radius-2);
    font-weight: bold;
    padding: 2px 5px;
    outline: none;
}

.creation .inputs input[type=password] {
    flex-grow: 0;
    border: 0;
    outline: none;
}

.creation .inputs input::selection {
    background-color: var(--accent-color);
    color: var(--primary-color)
}

.creation .inputs#input-hint #notice {
    color: rgba(95, 47, 117, 0.5);
}

.creation .inputs#input-actions {
    flex-direction: row;
    justify-content: center;

    margin-top: 12px;
    display: flex;
    gap: 5px;
}

.creation .inputs#input-actions button {
    font-weight: bold;
    height: 32px;
    padding: 5px 7px;
}

.creation .inputs#input-actions #submit {
    display: flex;
    gap: 3px;
    align-items: center;
}

.creation .inputs#input-actions #submit svg {
    fill: var(--primary-color);
    height: 16px;
    width: 16px;
}

.creation#creator #box {
    gap: 15px;
    justify-content: center;
}

.creation#creator #box .info {
    font-weight: bold;
}

.creation#creator #box .info ul {
    font-size: var(--sm-fn);
    padding-left: 20px;
}

.creation#creator #box .info li {
    margin-top: -5px;
}

.creation#creator #box .info li.ticked {
    text-decoration: line-through;
}

.creation#creator .inputs .dropdown {
    border: 2px solid var(--accent-color);
    border-radius: var(--b-radius-2);
    padding-right: 5px;
    display: flex;
    gap: 3px;
    align-items: center;
    position: relative;
}

.creation#creator .inputs .dropdown input[type=text] {
    border: none;
}

.creation#creator .inputs .dropdown button {
    padding: 0;
}

.creation#creator .inputs .dropdown button svg {
    width: 16px;
    height: 16px;
}

.creation#creator .inputs .dropdown #dropdown-items {
    background-color: var(--accent-color);
    border-bottom-left-radius: var(--b-radius-2);
    border-bottom-right-radius: var(--b-radius-2);
    color: var(--primary-color);
    max-height: calc(34px * 3);
    width: 100%;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;
}

.creation#creator .inputs .dropdown #dropdown-items .item {
    background-color: var(--accent-color);
    border-radius: 0;
    padding: 5px 10px;
    text-align: left;
    width: 100%;
    transition: var(--trans-q);
}

.creation#creator .inputs .dropdown #dropdown-items .item:hover {
    box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.3);
}

.creation#creator .inputs .dropdown #dropdown-items::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width: 549px) {
    .creation {
        border-radius: 0;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    .creation #input-actions button svg {
        width: 30px;
        height: 30px;
    }

    .creation #input-actions button svg {
        width: 24px;
        height: 24px;
    }
}