.creation.settings {
    width: 500px;
    height: 443px;
}

.creation.settings #box {
    flex-direction: column;
}

.creation.settings #box #title {
    font-weight: bold;
}

.creation.settings #box #preference-options {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 12px;
    justify-content: center;
}

.creation.settings #box .option {
    font-weight: bold;
    display: flex;
    gap: 3px;
    align-items: center;
    position: relative;
}

.creation.settings #box .option label {
    border: 2px solid var(--accent-color);
    border-radius: 50px;
    cursor: pointer;
    height: 20px;
    width: 35px;
    position: relative;
    /* transition: var(--trans-q); */
}

.creation.settings #box .option #thumb {
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 26%;
    /* transition: var(--trans-q); */
}

.creation.settings #box .option input[type=checkbox] {
    position: absolute;
    display: none;
}

.creation.settings #box .option:has(input[type=checkbox]:checked) label {
    background-color: var(--accent-color);
}

.creation.settings #box .option:has(input[type=checkbox]:checked) #thumb {
    background-color: var(--primary-color);
    left: 75%;
}

.creation.settings {
    flex-grow: 0;
    width: 500px ;
}

.creation.settings #settings-info {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.creation.settings #settings-info>.inputs {
    flex-grow: 1;
    width: calc(50% - 12px);
    height: max-content;
}

.creation.settings #settings-info>.inputs p {
    width: 100%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.creation.settings #settings-info>.inputs p#password,
.creation.settings #settings-info>.inputs#info-email p#email {
    color: rgba(95, 47, 117, 0.5);
    font-style: italic;
}

.creation.settings #input-password .container #password {
    width: 100%;
}

.creation.settings #input-password .container button {
    flex-shrink: 1;
    padding: 5px 0;
}

.creation.settings #input-password .container button svg {
    width: 16px;
    height: 16px;
    fill: var(--accent-color);
}

.creation.settings #settings-info>.inputs input::placeholder {
    color: rgba(95, 47, 117, 0.5);
}

.creation.settings #settings-info>.inputs svg {
    fill: var(--primary-color);
    width: 16px;
    height: 16px;
}

.creation.settings #advise {
    flex-grow: 1;
    align-content: end;
}

.creation.settings#edit #edit {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.creation.settings#edit #left {
    gap: 0;
}

.creation.settings#edit #show-mode {
    padding: 0;
    cursor: pointer;
    font-size: var(--lr-fn);
    font-weight: bold;
    text-decoration: underline transparent;
    /* transition: var(--trans-q); */
}

.creation.settings#edit #show-mode:hover {
    text-decoration: underline;
}

.creation.settings#edit #arrow {
    font-size: var(--md-fn);
    transform: rotate(-90deg);
}

.creation.settings#edit #current-mode {
    cursor: default;
    font-size: var(--lr-fn);
    font-weight: bold;
}

.creation.settings#edit #icon-mode {
    margin-left: 5px;
}

.creation.settings#edit #edit svg{
    flex-shrink: 0;
}

@media screen and (max-width: 549px) {
    .creation.settings {
        border-radius: 0;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    .creation.settings #settings-info {
        flex-direction: column;
        justify-content: center;
    }

    .creation.settings #settings-info>.inputs {
        flex-grow: 1;
        width: 100%;
    }
}