.article-item {
    background-color: var(--white-color);
    border: 2px solid transparent;
    border-radius: var(--b-radius-1);
    box-shadow: 0 5px 3px -5px ;
    cursor: pointer;
    padding: 10px 25px;
    height: 92px;
    min-height: 92px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--trans-q);
}

.article-item.clicked {
    border: 2px solid var(--secondary-color);
    box-shadow: 0 10px 3px -5px var(--drop-shadow);
}

/* .article-item.unsecured {
    border: 2px solid red;
} */

.article-item .button {
    cursor: pointer;
}

.article-item .compartment-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.article-item .compartment-left #item-icon {
    border-left: 3px solid var(--accent-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.article-item .compartment-left #item-icon svg {
    width: 35px;
    height: 35px;
}

.article-item .compartment-left #favorite svg.ticked {
    fill: var(--accent-color);
}

.article-item .compartment-left #item-info {
    min-width: 0;
    width: 130px;
    max-width: 130px;
    text-align: left;

    & p {
        font-size: var(--lr-fn);
        font-weight: bold;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    & span {
        color: rgb(50, 50, 50);
        margin-top: -10px;
        width: max-content;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
}

.article-item .compartment-mid {
    color: rgba(95, 47, 117, 0.5);
}

.article-item #actions {
    display: flex;
    gap: 5px;
    align-items: center;
}

.article-item #actions>span.button {
    position: relative;
}

.article-item #actions #tooltip {
    background-color: var(--accent-color);
    border-radius: 50px;
    cursor: default;
    color: var(--primary-color);
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transition-behavior: allow-discrete;
    transition-property: display opacity;
    transition-duration: var(--trans-q);
    z-index: 1;
}

.article-item #actions #tooltip>#tip {
    font-weight: bold;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.article-item #actions #tip::after {
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--accent-color);
    border-left: 10px solid transparent;
    transform: translateX(-50%);
    position: absolute;
    bottom: 100%;
    left: 50%;
}

.article-item #actions>span:hover>#tooltip {
    display: block;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.article-item #actions>#copy>#tooltip:hover {
    cursor: default;
    display: none;
}

.article-item #actions #more>#tooltip {
    border-radius: var(--b-radius-1);
    left: -20%
}

.article-item #actions #more>#tooltip>#tip {
    text-align: left;
    padding: 0;
}

.article-item #actions #more #tip::after {
    left: 70%;
}

.article-item #actions #more>#tooltip>#tip>.button {
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    gap: 2px;
    align-items: center;
}

.article-item.folder #delete>svg {
    fill: red;
    opacity: 0.5;
    transition: var(--trans-q);
}

.article-item.folder #delete:hover>svg {
    opacity: 1;
}

@media screen and (min-width: 430px) {
    .article-item #actions #more>#tooltip>#tip>.button#copy {
        display: none;
    }
}

@media screen and (max-width: 429px) {
    .article-item #actions>span#copy {
        display: none;
    }
}

@media screen and (max-width: 569px) {
    .article-item .compartment-mid {
        display: none;
    }
}