@import './main.css';
@import './comp-button.css';
@import './comp-searchbar.css';
@import './comp-folder.css';
@import './comp-card-item.css';

#page__dashboard {
    height: 100dvh;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#page__dashboard>#wrapper {
    margin: 40px;
    max-width: 1290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


#page__dashboard .circle:not(button) {
    aspect-ratio: 1;
    position: absolute;
}

#page__dashboard #header {
    background-color: var(--primary-color);
    border-radius: var(--b-radius-1);
    box-shadow: 0 4px 4px var(--drop-shadow);
    width: 100%;
    height: 272px;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

#page__dashboard #header>.circle {
    width: clamp(800px, 100%, 1500px);
}

#page__dashboard #header>#circle-1 {
    background-color: rgba(192, 147, 226, 0.2);
    border-radius: 50%;
    top: 40%;
    right: clamp(20%, 10vw, 50%);
}

#page__dashboard #header>#circle-2 {
    background-color: rgbA(95, 47, 117, 0.2);
    border-radius: 50%;
    top: 40%;
    left: clamp(20%, 10vw, 80%);
}

#page__dashboard #header>#side-1 {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

#page__dashboard #header>#side-1>#info>#title {
    font-size: var(--xlr-fn);
    font-weight: bold;
}

#page__dashboard #header>#side-1>#info>#motd {
    font-size: var(--md-fn);
    font-weight: bold;
    margin-top: -10px;
}

#page__dashboard #header>#side-1>#info>#clock {
    font-size: var(--md-fn);
    font-weight: bold;
    margin-top: -5px;
}

#page__dashboard #header>#side-1>#menu>#title {
    font-size: var(--md-fn);
    font-weight: bold;
}

#page__dashboard #header>#side-1>#menu>#actions {
    display: flex;
    gap: 7px;
    align-content: center;
    justify-content: left;
}

#page__dashboard #header>#side-1>#menu>#actions>button {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page__dashboard #header>#side-1>#menu>#actions>button,
#page__dashboard #header>#side-1>#menu>#actions>button:active:not(:hover) {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    transition: var(--trans-q);
}

#page__dashboard #header>#side-1>#menu>#actions>button:hover {
    border-bottom: 2px solid var(--accent-color);
}

#page__dashboard #header>#side-1>#menu>#actions>button:active {
    background-color: var(--accent-color);
    border-radius: 50%;
    border-bottom: 2px solid transparent;
}

#page__dashboard #header>#side-1>#menu>#actions>button:active>svg {
    fill: var(--primary-color);
}

#page__dashboard #header>#side-1>#menu>#actions>button:nth-of-type(2):active>svg,
#page__dashboard #header>#side-1>#menu>#actions>button:last-of-type:active>svg {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}

#page__dashboard #header>#side-1>#menu>#actions>button:active:not(:hover)>svg {
    fill: var(--accent-color);
}

#page__dashboard #header>#side-1>#menu>#actions svg {
    aspect-ratio: 1;
    width: 20px;
    height: 20px;
    stroke-width: 2px;
}

/* MIGHT CHANGE LATER */
#page__dashboard #header>#side-2 {
    padding: 30px 40px;
    z-index: 1;
}

#page__dashboard #header>#side-2>#title {
    font-size: var(--md-fn);
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
}

#page__dashboard #header>#side-2 section#social-links {
    display: flex;
    gap: 10px;
    justify-content: right;
}

#page__dashboard #header>#side-2 section#social-links>.soc-med {
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: var(--trans-q);
}

#page__dashboard #header>#side-2 section#social-links>.soc-med:hover {
    border-bottom: 2px solid var(--accent-color);
}

#page__dashboard #header>#side-2 section#social-links>.soc-med svg {
    display: block;
    fill: var(--accent-color);
}

#page__dashboard #bottom {
    height: 578px;
    width: 100%;
    display: flex;
    gap: 12px;
}

#page__dashboard #misc {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#page__dashboard #misc>#recent-files,
#page__dashboard #misc>#key-status {
    border-radius: var(--b-radius-1);
    box-shadow: 0 4px 4px var(--drop-shadow);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

#page__dashboard #misc>#recent-files {
    background-color: var(--primary-color);
    width: 280px;
    height: 250px;
}

#page__dashboard #misc>#recent-files>.circle {
    background-color: rgba(192, 147, 226, 0.2);
    border-radius: 50%;
    width: 378px;
    transform: translateX(-50%);
    top: 70%;
    left: 50%;
    z-index: -1;
}

#page__dashboard #misc #title {
    font-size: var(--lr-fn);
    font-weight: bold;
    padding: 20px 30px 5px;
    text-align: center;
}

#page__dashboard #misc>#recent-files>#items {
    padding: 0 30px 10px;
    max-width: 100%;
    width: 100%;
    display: flex;
    gap: 12px;
    overflow: auto;
    scroll-behavior: smooth;
}

#page__dashboard #misc>#recent-files>#items::-webkit-scrollbar {
    height: 0;
}

#page__dashboard #misc>#recent-files .example-item {
    background-color: black;
    width: 100px;
    height: 150px;
    flex-shrink: 0;
}

#page__dashboard #misc>#key-status {
    background-color: rgba(192, 147, 226, 0.2);
    width: 280px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page__dashboard #misc>#key-status>.circle {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 378px;
    transform: translateX(-50%);
    top: 70%;
    left: 50%;
}

#page__dashboard #misc>#key-status>#keys-checked {
    margin-top: 5px;
    font-size: var(--sm-fn);
    font-weight: bold;
    z-index: 1;
}

#page__dashboard #misc>#key-status>#status {
    font-size: var(--md-fn);
    font-weight: bold;
    z-index: 1;
}

#page__dashboard #articles {
    width: 100%;
    height: 578px;
    display: grid;
    gap: 12px;
    grid-template-areas: 
        'location search search'
        'tags actions types'
        'items items items'
    ;
    grid-template-rows: min-content min-content auto;
    grid-template-columns: auto auto min-content;
}

#page__dashboard #articles>#location {
    align-self: center;
    grid-area: location;

    font-size: var(--lr-fn);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
}

#page__dashboard #articles>#location>button#root {
    padding: 0;
    text-decoration: underline transparent;
    transition: var(--trans-q)
}

#page__dashboard #articles>#location>button#root:hover {
    text-decoration: underline var(--accent-color);
}

#page__dashboard #articles>#location>svg {
    transform: rotate(-90deg);
}

/* CHANGE LATER */
#page__dashboard #articles>#search {
    justify-self: right;
    grid-area: search;
}

#page__dashboard #articles>#actions {
    display: flex;
    gap: 12px;
}

#page__dashboard #articles>#tags,
#page__dashboard #articles>#types {
    display: flex;
    gap: 3px;
}

#page__dashboard #articles>#tags {
    grid-area: tags;
}

#page__dashboard #articles>#tags>button:not(.checked) {
    background-color: transparent;
    color: var(--accent-color);
}

#page__dashboard #articles>#actions {
    justify-self: start;
    grid-area: actions;
}

#page__dashboard #articles>#actions>button {
    padding: 10px;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

#page__dashboard #articles>#actions>button>svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-color);
}

#page__dashboard #articles>#types {
    justify-self: right;
    grid-area: types;
}

#page__dashboard #articles>#key-items {
    grid-area: items;

    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-y: auto;
}

#page__dashboard #articles>#key-items::-webkit-scrollbar {
    width: 0;
}

#page__dashboard #articles>#types>button svg {
    width: 20px;
    height: 20px;
}

#page__dashboard #articles>#types>button.checked {
    background-color: var(--accent-color);
}

#page__dashboard #articles>#types>button.checked svg {
    fill: var(--primary-color);
}

#page__dashboard #articles>#key-items>#item-example {
    width: 100%;
}

#page__dashboard #bottom #crud {
    flex-grow: 1;
    width: 0px;
    display: none;
}

#page__dashboard #bottom #crud.open.animated {
    transition-duration: var(--trans-q);
}


#page__dashboard #bottom #crud.open {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* CHANGE LATER (REMOVE) */
#card {
    background-color: blue;
    border-radius: var(--b-radius-1);
    max-width: 316px;
    width: 100%;
    height: 578px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CHANGE LATER (REMOVE) */
#card.modal {
    width: 316px;
    height: 569px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%
}