@media screen and (max-width: 899px) {

    #page__dashboard {
        align-items: start;
        justify-content: auto;
    }

    #page__dashboard #bottom {
        flex-direction: column;
    }

    #page__dashboard #misc {
        flex-direction: row;
        width: 100%;
        height: 100px;
    }

    #page__dashboard #misc>#recent-files,
    #page__dashboard #misc>#key-status {
        height: 100%;
    }

    #page__dashboard #misc>#recent-files {
        flex: 0 1 50%;
    }

    #page__dashboard #misc>#key-status {
        flex: 1 0 auto;
    }

    #page__dashboard #bottom section#crud {
        background-color: rgba(95, 47, 117, 0.2);
        backdrop-filter: blur(5px);
        height: 100%;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        transition: var(--trans-q);
        opacity: 0;
        z-index: 50;
    }

    #page__dashboard #bottom section#crud.open {
        width: 100%;
        opacity: 1;

        @starting-style {
            opacity: 0
        }
    }
}

@media screen and (max-width: 659px) {

    #page__dashboard #wrapper {
        margin: 40px 0;
        padding: 0 20px;
    }

    #page__dashboard #articles {
        grid-template-areas:
            'search search search'
            'location types types'
            'tags actions actions'
            'items items items'
        ;

        grid-template-rows: min-content min-content min-content auto;
        grid-template-columns: auto auto min-content;
    }

    /* CHANGE LATER */
    #page__dashboard #articles>#search {
        max-width: 100%;
        width: 100%;
    }

    #page__dashboard #articles>#actions {
        justify-self: right;
    }

}

@media screen and (max-width: 539px) {

    #page__dashboard #header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
    }

    #page__dashboard #header>#side-1 {
        padding: 30px 40px 0;
        flex-direction: row;
    }

    #page__dashboard #header>#side-1>#info>#title {
        font-size: var(--lr-fn);
    }

    #page__dashboard #header>#side-1>#menu>#title {
        padding-top: 5px;
        text-align: right;
    }

    #page__dashboard #header>#side-1>#menu>#actions {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-content: center;
        justify-content: left;
    }

    #page__dashboard #header>#side-1>#menu>#actions svg {
        width: 18px;
        height: 18px;
        stroke-width: 2px;
    }

    #page__dashboard #header>#side-2 {
        padding: 0 40px 30px;
        z-index: 1;
    }

    #page__dashboard #header>#side-2>#title {
        margin-bottom: 3px;
        text-align: left;
    }

    #page__dashboard #header>#side-2 section#social-links {
        justify-content: left;
    }

    #page__dashboard #header>#side-2 section#social-links svg {
        height: 18px;
        width: 18px;
    }

    #page__dashboard #misc {
        display: none;
    }

}