:root {
    --font-main: "Alegreya Sans SC", sans-serif;
    --font-sub: "Alegreya Sans", sans-serif;
    --white-color: #FFF;
    --primary-color: #FEF4FF;
    --secondary-color: #C093E2;
    --accent-color: #5F2F75;
    --meddle-color: #08041F;
    --drop-shadow: rgba(192, 147, 226, 0.5);
    --xsm-fn: 10px;
    --sm-fn: 14px;
    --md-fn: 16px;
    --lr-fn: 24px;
    --xlr-fn: 32px;
    --b-radius-1: 15px;
    --b-radius-2: 7px;
    --b-radius-3: 5px;
    --trans-q: 0.2s;
    --trans-m: 0.5s;
}