<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/comp-circular-percentage.css">
    <title>Circular Percentage</title>
</head>

<body>
    <main>
        <div class="container circular-percentage">
            <div id="circle"></div>
            <p class="text color" id="percentage">100%</p>
        </div>
    </main>
</body>

</html>